*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Century Gothic, sans-serif;
	
}
body{
	background-color: #68a1ff;
}

/* Modals css*/
#myModal,#myModal1{
	margin-top: 40px;
	

}












.navbar{
	border:0;
	border-radius: 0;
	font-size: 12pt;
	z-index: 2000;
	/*background-color: #336666;
	color: #fff;*/
}



.navbar-form{
	vertical-align: middle;
	margin-top: 1%;
}

#search-bar{
	width: 20vw;
	height: 26px;
}
.search-icon{
	font-size: 18pt;
	vertical-align: middle;
	color: #aeaeae;
	margin-left: 5px;
	-moz-transform: scaleX(-1);
   	-o-transform: scaleX(-1);
   	-webkit-transform: scaleX(-1);
   	transform: scaleX(-1);
}
.search-icon:hover{
	color: #fff;
}
.search-icon:active{
	-moz-transform: scaleX(-1.11);
   	-o-transform: scaleX(-1.11);
   	-webkit-transform: scaleX(-1.11);
   	transform: scaleX(-1.11);
}

.navbar-inverse .navbar-nav li a:hover,.navbar-inverse .navbar-nav li a:focus {
    /*background-color: #09F;*/
    background-color: #218d84;
    color: #ffffff;
}

.nav{
	margin-left: 5vw;
	margin-right: auto;
}

.dropdown-menu{
	font-size: 12pt;
}
 
.top-zero{
	margin-top: 50px;
}
.cover-container{
	width: 100%;
	height: auto;
	background-color:#3e3e3e;

}
.name-container{
	width: 100%;
	height: 80px;
	background-color: transparent;
	margin: 0 auto;
	margin-top: -190px;

	padding: 8px;
}
.name-container h4{
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}
.name-container h5{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	margin-top: -7px;
}
#profile-image{
	max-width: 100%;
	width: 70%;
	height: 160px;
	background-color: gray;
	position: absolute;
	margin: 0 auto;
	margin-top: -190px;
	margin-left: 50px;
	
	

}

#profile-image:hover{

	opacity: 0.8;
	cursor: pointer;
	
}

#edit-pic{
	position: absolute;
	z-index: 100;
	margin-top: -30px;
	margin-left: 60px;
	color: #eeeeee;
}
#profile-container-image{
	height: 160px;
	width: 100%;
	border: 4px solid #fff;
}


.cover-container img{
	 
    width: 100%;
    height: 415px;
    transition: 2s all;
}

.cover-container ul{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	

}

.cover-container ul li{
	display: inline-block;
	padding: 15px;
	
}
.cover-container ul li a{
	
	font-size: 16px;
	color: #fff;
}

.overlap{
	position: relative;
	top: -190px;
}

.profile-container{
	max-width: 100%;
	width: 100%;
	background-color: #3e3e3e;
	height: auto;
	margin: 15px auto;
	padding: 10px;
	
	

}

.intro-container{
	width: 100%;
	height: auto;
	background-color: #111;
	color:#fff;
	padding: 10px;
}

 .info{
	font-size: 25px;
}
.margin{
	margin: 0 auto;
	text-align: center;
}
#edit-info{
	right: 0;
	margin-top: 8px;
	float: right;
	font-size: 11pt;
	text-decoration: underline;
}



.intro1{
	margin-top: -15px;
	font-size: 15px;
}

.information-container{
	width: 100%;
	height: auto;
	background-color: #adc9f7;
	padding: 10px;
}
.information-container ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.information-container ul li{
	padding: 5px;
	font-size: 15px;
}
.glyphicon{
	margin-right: 7px;
}
.featured-image-container{
	width: 100%;
	height: auto;
	background-color: #adc9f7;
	padding: 5px;
}
.featured-image-container img{
	width: 50%;
	height: 120px;
	float: left;
	padding: 1px;

}
span.clear { 
	clear: left; display: block; 
}
.photos{
	width: 100%;
	height: auto;
	background-color: #c92e6e;
	padding: 5px;
	margin: 0 auto;
	margin-top: 15px;
	color: #fff;


}
.photos img{
		width: 50%;
	height: 120px;
	float: left;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	

}
.position-tab{
	
	margin-left: 0;
}

.position-tab li a:hover{
	color: #fff;
	background-color: #3e3e3e;
}
.tab-pane h3{
	background-color: #fff;
	
	padding: 10px;
}
.tab-pane h3>a{
	width: 100%;
	height: 60px;
	text-decoration: none;
	color:#111;
}

.tab-pane h3>a:hover{
	background-color: #3e3e3e;
	color:#fff;
}
.post-content-container{
	width: 100%;
	height: auto;
	background-color: #3e3e3e;
	padding: 10px;
	margin-top: 15px;
}
.post-content-container ul li a{
	color:#fff;
}
.status-text{
	padding: 15px;
}
#post-status{
	width: 100%;
	height: 70px;
	font-size: 25px;
}

#post-status::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 25px;
}

*/#upload-photo h3{
	margin:0 auto;
	padding: 15px;
	color: #fff;
	cursor: pointer;
}
#upload-photo h3:hover{
	background-color: #fff;
	color:#111;
}

.post-container{
	max-width: 100%;
	width: 100%;
	background-color: #3e3e3e;
	height: auto;
	margin: 15px auto 10px;
	padding: 10px;
	

}
.post{
	max-width: 100%;
	width: 100%;
	height: auto;
	
	margin-bottom: 20px;
	overflow-x: hidden;

}

.post-text{
	padding: 10px;
	color:#fff;
	border: 2px solid #fff;
}

.post-info{
	width: 100%;
	height: auto;
	background-color: #ecf0f1;
	padding: 8px;
}
.post-info img{
	width: 35px;
	height: 35px;
	float:left;
	margin-right: 10px;
	/*border: 0.5px solid #3e3e3e;*/
	border-radius: 100px;
}
.post-info h4{
	font-size: 15px;
	font-weight: bold;
}
.post-menu{
	margin-top: -26px;
	float: right;
}
.post-photo{
	width: 100%;
	height: auto;
	background-color: #ecf0f1;
	/*padding: 0 10px 0 10px;*/

}

.post-photo img{
	max-width: 100%;
	width: 100%;
}
.post-container:last-child{
	padding-bottom:2px; 
}
.like-comment-share{
	width: 100%;
	height: auto;
	background-color: #ecf0f1;
	padding: 10px;
}

.like-comment-share ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.like-comment-share ul li{
	display: inline-block;
	padding: 8px;
	padding-bottom: 0;
	padding-top: 5px;
	margin-right: 15px;
	font-size: 15px;
	font-weight: 600;
}


.side-container{
	
	width: 90%;
	background-color: #3e3e3e;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	
	

}
.above{
	position: relative;
	z-index: 1500;
}
.clan-group{
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #d0d3d4; 
}
.clan-group h3{
	background-color: #111;
	width: 100%;
	height: 30px;
	color:#fff;
	margin-top: 0;
	font-size: 20px;
	padding: 5px;
}
.clan-group ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-top: -10px;
	background-color: #adc9f7;
	cursor: pointer;
}
.clan-group ul li{
	padding: 8px;
	font-size: 15px;
	font-weight: bold;
	background-color: #218d84;
	border-bottom: 1px solid #fff;
	color: #fff;
	transition: 0.5s all;

}

.clan-group ul li:hover{
	color:#12514c;
	background-color: #ddd;
}
.link-to-features{
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #d0d3d4;
	margin-top: 15px; 
}

.feature-circle{
	width: 100%;
	height: 100px;
	background-color:#218d84;
	margin: 0 auto;
	/*margin-top: -8px;*/
	margin-bottom: 27px;
	border-radius: 100px;
	text-align: center;
	font-size: 18pt;
	line-height: 100px;
	vertical-align: middle;
	color: #fff;
	transition: 0.2s all;
	cursor: pointer;
}
.feature-circle:hover{
	background-color: #fff;
	color:#218d84;
	font-size: 22pt;
	
}

.feature-circle:last-child{
	margin-bottom: 0;

}
.link-to-features .feature-circle >h5{
	
	position: relative;
	font-size: 20px;
	top:40px;
	
}
.footer-margin{
	margin:0;
	padding: 0;
	overflow-x: hidden;
}
.footer{
	width: 100%;
	height: auto;
	background-color: #111;
	padding: 10px;
}

.footer ul{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: -10px;
	text-align: center;

}
.footer ul li{
	display: inline-block;
	padding: 15px;
	padding-bottom: 0;
}

.footer ul li a{
	color: #fff;
	color: #aeaeae;
	text-decoration: none;
	transition: 0.5s all;
	padding: 8px;
}

.footer ul li a:hover{
	color:#fff;
	text-decoration: underline;
}


::-webkit-scrollbar {width: 12px;background: transparent;}
::-webkit-scrollbar-thumb {background: #acacac;border-radius: 10px ;}
::-webkit-scrollbar-thumb:hover {background: #218d84;border: 1px solid #fff;}
::-webkit-scrollbar-thumb:active {background: #218d84;border: 1px solid #fff;}
@media only screen and (max-width: 968px) {

		.side-container{
	
				margin: 30px auto;
				margin-top: 15px;
			
		}


		.profile-container{
				
				margin-top: 170px;
			}

			
#profile-image{
	
	visibility: hidden;


}



	}